<div class="user-signup">
  <div class="logo">
    <h1>LitLoop </h1>
    <p>Get in the Loop!</p>
  </div>

  <div class="form-inputs">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="signup-input">
          <%= f.input :username,
                      label: "🪄 invent a magical username",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username"}%>
        </div>
        <div class="signup-input">
          <%= f.input :email,
                      label: "email",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div class="signup-input">
          <%= f.input :password,
                      label: "password",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="signup-input">
          <%= f.input :password_confirmation,
                      label: "confirm password",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-signup" %>
          <%# <%= render "devise/shared/links" %>
        </div>
    <% end %>
  </div>
</div>
