
<div class="atlas-actions">
  <%# BUTTON ON LANDING PAGE TO ADD A NOOK %>
  <div class="atlas-add">
    <%= link_to new_nook_path, id: "add_nook" do %>
      <i class="fa fa-plus my-float"></i>
    <% end %>
  </div>

  <%# SEARCHBAR LANDING PAGE%>
  <div class="search-container">
      <div class="search-toggle" data-controller="searchbar">
          <%= form_with url: nooks_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query, params[:query], class: "form-control", id: "search-bar", placeholder: "sunshine" %>
            <%= button_tag type: "submit" do %>
              <i class="fa-solid fa-search"></i> <!-- Search icon -->
            <% end %>
          <% end %>
      </div>
  </div>
</div>

<%# FULL MAP LANDING PAGE %>
<div  id="map-container"
      data-controller="map"
      data-map-target="mapContainer"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
