<%# nooks#new - app/views/nooks/new.html.erb %>

<div class="form_container">
  <h1>Add a BookNook!</h1>

  <div class ="share_form">
    <%= simple_form_for (@nook) do |f| %>
      <h6><%= f.input :name %></h6>
      <h6><%= f.input :description %></h6>
      <%# Would be nice to require for an emoji %>
      <h6><%= f.input :photos, as: :file %></h6>

      <div class="share-submit">
        <%= f.submit "share", class: "share-button", html: { color: "white" } %>
      </div>
    <% end %>


    <div id="cancel-button">
      <h6><%= link_to "cancel", nooks_path %></h6>
    </div>
  </div>
</div>
