<%# nooks#show - app/views/nooks/show.html.erb %>

<%# center this somehow %>
<div class="container-fluid show-headers my-4">
  <div class="title row">
    <div class="col-10">
      <h1><%= @nook.name %></h1>
    </div>
  </div>
  <div class="coordinates row">
    <div class="col-9 justify-content-start align-items-center">
      <h4>[<%= @nook.coordinates %>]</h4>
    </div>
  </div>
</div>

<%# create a light box shadow (glow) %>
<div class="container-fluid show-images mb-5" data-controller="swiper">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag "#{@nook.id}.png", class: 'img-fluid rounded-4' %></div>
      <div class="swiper-slide"><%= image_tag "#{@nook.id}.png", class: 'img-fluid rounded-4' %></div>
      <div class="swiper-slide"><%= image_tag "#{@nook.id}.png", class: 'img-fluid rounded-4' %></div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<%# seed actual details %>
<div class="container-fluid show-details mb-5">
  <div class="post-it">
    <div class="note"><%= @nook.description %>
    <%# link to user profile through description signature %>
    <h6>Signed, <%= @nook.user.username %></h6>
    </div>
  </div>
</div>

<div class="container footnotes mb-5">
  <div class="footnote-inner">
    This is a note
  </div>
</div>
<div class="nook-map" style="width: 100vw; height: 200px"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="container">
  <div id="from-show-to-index"><%= link_to "nooks#index", nooks_path %></div>
</div>
