<%= @nook.user %>
<div class="show-page-wrapper">
  <%# LOCATION HEADER AND COORDINATES %>
  <div class="nook-header">
    <div class="nook-name"><h1><%= @nook.name %></h1></div>
    <div class="nook-location">
      <h4 data-controller="typed"
        data-typed-strings-value="[<%= @nook.typed_location %>]">
        [<%= @nook.longitude %>, <%= @nook.latitude %>]
      </h4>
    </div>
  </div>

  <%# IMAGES CAROUSEL VIA SWIPER %>
  <div class="swiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @nook.photos.each do |nook| %>
        <div class="swiper-slide"><%= cl_image_tag nook.key, height: 300, width: 350, crop: :fill, class:"swiper-img" %></div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <%# POST-IT NOTE WITH LOCATION DESCRIPTION %>
  <div class="show-details mb-5">
    <div class="post-it">
      <div class="note">
      <%= @nook.description %>
      <%# <h6>Signed, <%= @nook.user.username %>
      <%# ROUTES TO CRUD EDIT CRUD DELETE %>
      <div class="crud_links">
        <div id="edit_nook">
          <%= link_to edit_nook_path(@nook), class: "crud_button" do %>
            <span style="font-size: 20px; color: black;">
              <i class="fa-solid fa-pencil"></i>
            </span>
          <% end %>
        </div>
        <div id="delete_nook">
          <td><%= link_to nook_path(@nook), class: "crud_button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %></td>
            <span style="font-size: 20px; color: black;">
              <i class="fa-solid fa-trash"></i>
            </span>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>

  <%# ADD FOOTNOTE FORM %>
  <div data-controller="toggle" class="all-footnotes">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a Footnote</button>
    <div data-toggle-target="togglableElement" class="d-none dropdown-form">
      <%= render 'footnotes/footnote', nook: @nook, footnote: @footnote %>
    </div>

  <div class="all-footnotes">
    <% @footnotes.each do |footnote| %>
      <div class="footnote-inner">
        <p><%= footnote.text %></p>
        <%= link_to "#{footnote.user[:username]}", user_path(footnote.user) %>
      </div>
    <% end %>

  <div class="nook-map-wrapper">
    <div class="nook-map" style="width: 90vw; height: 200px;"
      data-controller="map"
      data-map-target="mapContainer"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div id="logout">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <span style="font-size: 42px; color: white;">
          logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </span>
      <% end %>
  </div>
</div>
