<div class="user-login">
  <div class="logo">
    <h1 class="delay-1" style="margin-right: 90px;">LitLoop</h1>
    <div class="signup-links">
      <h5 class="delay-2"><small>Not already in the Loop?</small></h5>
      <span class="delay-3" id="login-links"><%= render "devise/shared/links" %></span>
    </div>
  </div>

  <div class="login-inputs">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signup-input">
        <%= f.input :username,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "username" } %>
      </div>
      <div class="signup-input">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="signup-input-remember">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "log in", class: "btn-signup" %>
      </div>
    <% end %>
  </div>


</div>
